{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Events</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">On</th>
              <th scope="col">Sport</th>
              <th scope="col">Winner</th>
              <th scope="col">Draw</th>
              <th scope="col">Betting Closed</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for event in object_list %}
              <tr>
                <td><div class="text-left">{{ event.name }}</div></td>
                <td><div class="text-left">{% if event.date_time is not None %}{{ event.date_time|date:'D d M h:i a' }} {% else %} - {% endif %} </div></td>
                <td><div class="text-left">{% if event.date_time is not None %}{{ event.sport }} {% else %} - {% endif %}</div></td>
                <td><div class="text-center">{% if event.winning_team is not None %}{{ event.winning_team }} {% else %} - {% endif %}</div></td>
                <td><div class="text-center">{% if event.match_drawn is not None %}{{ event.match_drawn|yesno:"Yes, No" }} {% else %} - {% endif %}</div></td>
                <td><div class="text-center">{{ event.betting_closed|yesno:"Yes,No" }}</div></td>
                <td><div class="text-left">{% if event.event_status is not None %}{{ event.display_event_status }} {% else %} - {% endif %}</div></td>
                {% if event.betting_closed %}
                  <td><div><a class="btn btn-outline-primary btn-sm" href="{% url 'events:detail' event.id %}">View</a></div></td>
                {% else %}
                  <td><div><a class="btn btn-primary btn-sm" href="{% url 'events:detail' event.id %}">Bet</a></div></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
