{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}Events{% endblock %}
{% block content %}

<div class="container">
<!--  Event title-->
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <h2 class="text-center">{{ object.name }}</h2>
    </div>
    <div class="col"></div>
  </div>

<!--  Sport and DateTime-->
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <h5 class="text-center">{{ object.sport }} on {{ object.date_time|date:'D d M h:i a' }}</h5>
    </div>
    <div class="col"></div>
  </div>

<!--  Team vs Team-->
  <div class="row">
    <div class="col-5">
      <img src="{% static 'images/team_logos/' %}{{team1.logo_url}}" alt="{{ team1.name }}" style="max-width: 75%; max-height:75%;" class="mx-auto d-block">
    </div>
    <div class="col">
      <div class="d-block"><h4 class="text-center">vs</h4></div>
    </div>
    <div class="col-5">
      <img src="{% static 'images/team_logos/' %}{{team2.logo_url}}" alt="{{ team1.name }}" style="max-width: 75%; max-height:75%;" class="mx-auto d-block">
    </div>
  </div>

<!--  Players-->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <div class="d-flex list-group justify-content-center">
        {% for player in team1_players %}
        <div class="list-group-item"><div class="text-center">{{ player.player.name }}</div></div>
        {% empty %}
          <div class="list-group-item"><div class="text-center">No players yet.</div></div>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      {% if object.event_status == 'completed' %}
        {% if object.match_drawn is not None and object.match_drawn is True %}
          <div class="text-center"><h4>Match was a draw!</h4></div>
        {% else %}
          <div class="text-center"><h4>{{ object.winning_team }} won!</h4></div>
        {% endif%}
      {% elif object.event_status == 'cancelled' %}
        <div class="text-center"><h4>Match cancelled!</h4></div>
      {% else %}
      {% endif %}
    </div>
    <div class="col-3">
      <div class="d-flex list-group justify-content-center">
        {% for player in team2_players %}
        <div class="list-group-item"><div class="text-center">{{ player.player.name }}</div></div>
        {% empty %}
          <div class="list-group-item"><div class="text-center">No players yet.</div></div>
        {% endfor %}
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

  {% if event_odds is not None %}
  <!--Betting Odds title-->
      <div class="row">
        <div class="col">
          <div class="text-center"><h3 style="margin-top:5%;">Betting Odds</h3></div>
        </div>
      </div>
  <!--Betting Odds-->
      <div class="row" style="margin-top:2.5%;">
        <div class="col-1"></div>
        <div class="col-3">
          <div class="text-center"><h5>{{ object.eventodds.team1_odds }}</h5></div>
          <div class="text-center font-weight-lighter small">AZ{{ object.eventodds.team1_odds|mul:100 }} on AZ100.00 if {{ object.eventodds.team1 }} wins!</div>
        </div>
        <div class="col">
          <div class="text-center"><h5>{{ object.eventodds.draw_odds }}</h5></div>
          <div class="text-center font-weight-lighter small">AZ{{ object.eventodds.draw_odds|mul:100 }} on AZ100.00 if match draws!</div>
        </div>
        <div class="col-3">
          <div class="text-center"><h5>{{ object.eventodds.team2_odds }}</h5></div>
          <div class="text-center font-weight-lighter small">AZ{{ object.eventodds.team2_odds|mul:100 }} on AZ100.00 if {{ object.eventodds.team2 }} wins!</div>
        </div>
        <div class="col-1"></div>
      </div>
  {% else %}
  <!--Betting Odds title-->
      <div class="row">
        <div class="col">
          <div class="text-center"><h3 style="margin-top:5%;">Betting Odds Not Available</h3></div>
        </div>
      </div>
  {% endif %}


  {% if not object.betting_closed %}
    <!--Place bet title-->
    {% if bet.is_settled %}
      <div class="row">
        <div class="col">
          <div class="text-center"><h3 style="margin-top:5%;">Bet Placed</h3></div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col">
          <div class="text-center"><h3 style="margin-top:5%;">Place Bet</h3></div>
        </div>
      </div>
    {% endif %}
      <!--Place bet form-->
      <div class="row" style="margin-top:2.5%;">
          <div class="col">
            <form method="post" action="/events/{{ object.pk }}/bet">
              {% csrf_token %}
              <fieldset {% if bet.is_settled %}disabled{% endif %}>
                <div class="form-row">
                  <div class="col-4">
                    <div class="form-group">
                    <select name="team" class="form-control">
                      {% if bet is None %}
                        <option value="" disabled selected>Select Team</option>
                        <option value="Draw">Draw</option>
                        {% for team in teams %}
                          <option name={{team.name}} value={{team.id}}>{{team.name}}</option>
                        {% endfor %}
                      {% else %}
                        <option value="Draw" {% if bet.bet_on_draw %} selected {% endif %}>Draw</option>
                        {% for team in teams %}
                          <option name={{team.name}} value={{team.id}} {% if bet.bet_on_team.id == team.id %} selected {% endif %}>{{team.name}}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                  </div>
                  <div class="col-8">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="bet-amount">AZ</span>
                      </div>
                      <input type="number" name="amount" class="form-control" placeholder="Enter amount..." aria-label="Amount" aria-describedby="bet-amount" value="{{bet.bet_amount}}">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="text-right">
                      <div class="btn-group" role="group">
                        {% if bet is not None %}
                          <a class="btn btn-danger" role="button" href="{% url 'events:cancel-bet' event.id bet.id %}">Cancel Bet</a>
                          <input class="btn btn-primary" type="submit" value="Update Bet">
                        {% else %}
                          <input class="btn btn-primary" type="submit" value="Place Bet">
                        {% endif %}


                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

            </form>
          </div>
        </div>
  {% else %}
    {% if bet is not None %}
    <!--Place bet title-->
      <div class="row">
        <div class="col">
          {% if bet.bet_on_draw %}
            <div class="text-center"><h3 style="margin-top:5%;">AZ{{ bet.bet_amount }} bet on Draw</h3></div>
          {% else %}
            <div class="text-center"><h3 style="margin-top:5%;">AZ{{ bet.bet_amount }} bet on {{ bet.bet_on_team.name }}</h3></div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col">
            <div class="text-center"><h3 style="margin-top:5%;">You did not place bet on this event</h3></div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}
