{% extends "base.html" %}
{% load static %}

{% block title %}Rankings{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Rankings</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Money</th>
            </tr>
          </thead>
          <tbody>
            {% for user_wallet in object_list %}
              <tr>
                <td><div class="text-left">{{ user_wallet.user.name }}</div></td>
                <td><div class="text-left">AZ{{ user_wallet.money }}</div></td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
