{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <div class="row" style="margin-top:5%;">
    <div class="col">
      <div><h4>My Bets</h4></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="list-group">
        {% for user_bet in object.userbet_set.all %}
          <div class="list-group-item">
            <a href="{% url 'events:detail' user_bet.event.id %}">{{ user_bet }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:5%;">
    <div class="col">
      <div><h4>My Wallet</h4></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div><h5>AZ{{object.userwallet.money}}</h5></div>
    </div>
  </div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
